@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    max-width: 100%;
    margin: 0 ;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
  
}
html{
    font-size: 10px;
}

.nav-container{
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
text-align: center;
max-width: 100%;;
@media screen and (max-width:1200px){
    gap: 0.5em;
    font-size: 1em;
}
}



.first-nav{
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 13px;
    font-size: 1.3em;
    .nav-lang{
        cursor: pointer;
        font-size: 1.3em;
        display: flex;
        gap: 1em;
font-size: 1.3em;
@media screen and (max-width:1200px){
    gap: 0.5em;
    font-size: 1em;
}
    }
    ul{
        display: flex;
        gap: 1em;
    }
    @media screen and (max-width:990px){
        display: none;
    }
    .time-numbers{
        cursor: pointer;
        font-size: 1.3em;
         display: flex;
         gap: 1em;
         justify-content: center;
         text-align: center;
         @media screen and (max-width:1200px){
             gap: 0.5em;
             font-size: 1em;
         }
         .numbers{
             color: blue;
             &:hover{
                 border-bottom: 1px solid blue;
             }
         }
        
         .phone{
             padding: 0.7em;
             
         }
         .clock{
             padding: 0.5em;
             gap: 1em;
         }
     }
     .nav-btn{
         justify-content: center;
         align-items: center;
         display: flex;
         gap: 1em;
         color: blue;
         font-size: 1.3em;
         @media screen and (max-width:1200px){
             gap: 0.5em;
             font-size: 1em;
         }
         button{
            cursor: pointer;
             color: blue;
             font-size: 1.3em;
             background: #fff;
         }
     }
     .li-container{
         display: flex;
         gap: 1em;
         @media screen and (max-width:1430px){
                     flex-direction: column;
                     font-size: 1em;
                 }
     }
     .lineV{
        width: 1px;
        height: 30px;
        border: 1px solid #c4c4c4; 
        justify-content: center;
        text-align: center;
        
    
    }
    li{
        cursor: pointer;
        font-size: 1.3em;
        display: flex;
        gap: 1em;
        list-style: none;
        &:hover{
                    color: blue;
                    transition: .3s;
                }
    }
}


// second nav

.Second-nav{
    align-items: center;
    display: flex;
    background: #000;
    color:#a6a5a5;
    font-weight: 600;
    font-size: 1.6em; 
    padding: 1.5em 3em;
    transition: color .2s ease;
    gap: 5em;
    @media screen and (max-width:990px){
        justify-content: space-between;
        font-size: 1.6em;
 
     }
    @media screen and (max-width:1220px){
        gap: .5em;
        padding: .5em 1em;
        font-size: 1em;
 
     }
     @media screen and (max-width:1100px){
        gap: 5em;
 
     }
    @media screen and (max-width:1430px){
        font-size: 1em;

    }
    .lineV{
        width: 1px;
        height: 30px;
        border: 1px solid #c4c4c4; 
        justify-content: center;
       align-items: center;
        
    
    }
    .logo{
        // padding-left: 3em;
        gap: .5em;
        display: flex;
        font-weight: 900;
        align-items: center;
        .menu{
            justify-content: center;
            align-items: center;
            @media screen and (max-width:1200px){
                display: none;
         
             }
        }
        h1{
            color: #fff;
            font-size: 2.5em;
        }
    
            font-size: 1.5em;
        
        .lineWhite{
            height: 3em;
            width: .1em;
            border: .1em solid #fff;
         }
    }
    .products-services{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul{
            display: flex;
            gap: 1em;
            justify-content: center;
            align-items: center;
            li{
                font-size: 1.3em;
            }
           
            .icon{
               
                font-size: 2.6em;
            }
        }
       
    }
    .second-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16em;
        @media screen and (max-width:1220px){
           gap: 2em;
    
        }
        @media screen and (max-width:990px){
            display: none;
           
    
        }
       
    }
    .icon{
        justify-content: center;
        align-items: center;
        padding-left: .5em;
        p{
            font-size: .4em;
        }
        flex-direction: column;
    }
    .apple{
        padding-left: .5em;
    }
    .icons{
        display: flex;
         padding: 0 4em;
        font-size: 1.6em;
        @media screen and (max-width:1100px){
            gap: .5em;
            padding: 0;
     font-size: 1em;
         }
        @media screen and (max-width:1220px){
            gap: 1em;
     
         }
    }
}



